SERVER_PORT=8082

DB_HOST=localhost
DB_PORT=5432
DB_NAME=cafeorbe_auction
DB_USER=cafeorbe
DB_PASSWORD=cafeorbe

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=cafeorbe
RABBITMQ_PASSWORD=cafeorbe

ANTISNIPING_VENTANA_SEGUNDOS=30
ANTISNIPING_EXTENSION_SEGUNDOS=10

SUBASTA_DURACION_MINUTOS=10
