SERVER_PORT=8084

DB_HOST=localhost
DB_PORT=5432
DB_NAME=cafeorbe_store
DB_USER=cafeorbe
DB_PASSWORD=cafeorbe

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=cafeorbe
RABBITMQ_PASSWORD=cafeorbe
